@font-face {
    src: url("MonospaceTypewriter.ttf");
    font-family: a;
}

#points {
    font-size: 250%;
    text-align: center;
    font-family: a;
    color: white;
}

#PPS {
    font-family: a;
    color: white;
    margin-top: -1.25cm;
    text-align: center;
}

.upgrade {
    font-family: a;
    color: white;
}

#buy {
    font-family: a;
    background-color: white;
    border: black;
    border-radius: 15%;
    transition: 250ms;
}

#buy:hover {
    font-family: a;
    background-color: lime;
    border: limegreen;
    border-radius: 15%;
    transform: scale(1.35);
    transition: 250ms;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.3333333333333%;
    font-family: a;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Ppoints {
    color: darkgray;
    font-family: a;
    text-align: right;
    font-size: 80%;
}

#Ppointsreset {
    color: white;
    font-family: a;
    background-color: grey;
    float: right;
    font-size: 80%;
}

.buy {
    font-family: a;
    background-color: white;
    border: black;
    transition: 250ms;
}

.buy:hover {
    font-family: a;
    background-color: lime;
    border: limegreen;
    transition: 250ms;
}

#time {
    font-family: a;
}

.PpointsUp {
    color: black;
    background: #F7F7F7;
    font-weight: bold;
    font-size: 10px;
    border: 1px solid #ED85DF;
    width: 190px;
    height: 90px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    font-family: a;
}

.PpointsUp:hover {
    color: #000;
    background: white;
}

#Ppoints2 {
    color: darkgray;
    font-family: a;
    text-align: center;
    font-size: 80%;
}

#total {
    font-family: a;
}

#buyMax {
    font-family: a;
    float: center;
}
