@font-face {
    src: url("MonospaceTypewriter.ttf");
    font-family: a;
}

#points {
    font-size: 250%;
    text-align: center;
    font-family: a;
    color: white;
}

#PPS {
    font-family: a;
    color: white;
    margin-top: -1.25cm;
    text-align: center;
}

.upgrade {
    font-family: a;
    color: white;
}

#buy {
    font-family: a;
    background-color: white;
    border: black;
    border-radius: 15%;
    transition: 250ms;
}

#buy:hover {
    font-family: a;
    background-color: lime;
    border: limegreen;
    border-radius: 15%;
    transform: scale(1.35);
    transition: 250ms;
}
